[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"

[dev-packages]
mypy = "*"
isort = "*"
flake8 = "*"
black = "*"
pytest = "*"
pre-commit = "*"

[requires]
python_version = "3.9"
